
/* Slides
 ====================================================*/
body {
    font-family: "Lora", serif;
    margin: 0;
    padding: 0;
    font-size: 26px;
    line-height: 1.5;
    color: #494f56;
}

section {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: none;
}

.bespoke-active {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.content {
    display: table-cell;
    padding: 20px 40px;
    vertical-align: top;
}

.content--card {
    vertical-align: middle;
    text-align: center;
    background: #F01422;
    background: linear-gradient(to bottom, #F01422, #D2111E);

    color: white;
    font-size: 1.5em;
    text-shadow: 1px 1px 0 #0D0D19;
}
.content--card h1,
.content--card h2,
.content--card h3 {
    background: none
}

.content__main {
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
}


/* Content typo styling
 ====================================================*/
h1,
h2,
h3 {
    padding: 20px 40px;
    margin: -20px -40px 20px;
    background: #F01422;
    background: linear-gradient(to bottom, #F01422, #D2111E);

    color: white;
    text-shadow: 1px 1px 0 #0D0D19;
    font-family: "Istok Web", sans-serif;
    line-height: 1.2;
}
h1 {
    font-size: 2em;
}
h1 > small {
    font-size: 0.5em;
    display: block;
}
h2 {
    font-size: 1.6em;
    text-align: center;
}
h3 {
    font-size: 1.2em;
    line-height: 1.6;
}

b {
    color: #F01422;
}

ol,
ul {
    font-size: inherit;
    display: block;
}
ul {
    list-style: disc inside;
}
li {
    margin-bottom: 0.3em
}

a {
    font-weight: 700;
    color: #4584a5;
    text-decoration: none;
}
a:hover,
a:focus,
a:active {
    text-decoration: underline;
}

blockquote {
    font-family: Baskerville;
    font-style: italic;
    margin: 0;
}
blockquote small {
    margin-top: 1em;
    display: block;
    text-align: right;
}

.content--card h1,
.content--card h2 {
    color: white;
}



/* Utils for content
 ====================================================*/
section .underline {
    border-bottom: .1em solid white
}

section .strikethrough {
    text-decoration: line-through;
    color: #999
}

section .classyNote,
section .classy {
    font-family: Baskerville;
    font-style: italic;
}

section .classyNote {
    display: block;
    text-align: center;
    color: #FFF;
    background: #111111;
    padding: 1em;
}
