
/* Slides
 ====================================================*/
section,
.bespoke-slide {
    display: table;
    position: relative;
    page-break-after: always;
    width: 100%;
    height: 100vh;
}

video::-webkit-media-controls {
    display: none;
}

@page {
    margin: 0;
}